<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, create_time, update_time, create_user, update_user,status)
            values
        (#{name},#{categoryId},#{price},#{image},#{description},#{createTime},#{updateTime},#{createUser},#{updateUser},#{status})
    </insert>
    <update id="update">
        update dish
        <set>
            <if test="dish.name != null">name = #{dish.name},</if>
            <if test="dish.categoryId != null">category_id = #{dish.categoryId},</if>
            <if test="dish.price != null">price = #{dish.price},</if>
            <if test="dish.image != null">image = #{dish.image},</if>
            <if test="dish.description != null">description = #{dish.description},</if>
            <if test="dish.status != null">status = #{dish.status},</if>
            <if test="dish.updateTime != null">update_time = #{dish.updateTime},</if>
            <if test="dish.updateUser != null">update_user = #{dish.updateUser},</if>
        </set>
        where id = #{dish.id}
    </update>
    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
</delete>
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*, c.name as categoryName
        from dish d
        left outer join category c on d.category_id = c.id
        <where>
            <if test="name != null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>
</mapper>
